
*,:after,:before{margin:0;padding:0;font:inherit;color:inherit;box-sizing:border-box;}
:root{-webkit-tap-highlight-color:transparent;text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:2;font-synthesis:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{height:100%;}
img,picture,video,canvas{display:block;max-width:100%;}
button{background:none;border:0;cursor:pointer;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,menu,dir{list-style:none;}
*,:after,:before{--w-grow:initial;--w-align:initial;--h-grow:initial;--h-align:initial;}
*,:after,:before{
--a-translate-x:0;
--a-translate-y:0;
--a-rotate:0;
--a-skew-x:0;
--a-skew-y:0;
--a-scale-x:1;
--a-scale-y:1;
--a-transform:translate(var(--a-translate-x)),var(--a-translate-y)) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
--a-transform3d:translate3d(var(--a-translate-x),var(--a-translate-y),0) rotate(var(--a-rotate)) skewX(var(--a-skew-x)) skewY(var(--a-skew-y)) scaleX(var(--a-scale-x)) scaleY(var(--a-scale-y));
.\32 00{font-weight:200;}
.\37 00{font-weight:700;}
@media(hover:hover){.\>\>a\:hover\:c\(--primary\) a:hover,.\>\>a\:hover\:c\(--primary\) a.\:hover{color:var(--primary);}}
.\>\>a\.active\:c\(--primary\) a.active{color:var(--primary);}
.c\(red\){color:red;}
.c\(\#555\){color:#555;}
.c\(\#ccc\){color:#ccc;}
.group:hover .group-hover\:c\(--primary\),html .group.\:hover .group-hover\:c\(--primary\){color:var(--primary);}
.c\(\#666\){color:#666;}
.c\(\#ff0\){color:#ff0;}
.c\(\#fff\){color:#fff;}
.placeholder\:c\(\#ccc\)::placeholder{color:#ccc;}
.\.selected\:c\(\#fff\).selected,.selected .\.selected\:c\(\#fff\){color:#fff;}
.\>\>a\:c\(\#4f80ff\) a{color:#4f80ff;}
@media only screen and (min-width:320px){html .\@w\(320\~\)\:c\(red\){color:red;}}
.c\(\#000\){color:#000;}
@media(hover:hover){.hover\:c\(--primary\):hover,.hover\:c\(--primary\).\:hover{color:var(--primary);}}
.c\(\#999\){color:#999;}
.\.selected\:c\(\#000\).selected,.selected .\.selected\:c\(\#000\){color:#000;}
.c\(blue\)\+font\(19\/42\)\+c\(\#D0D0D0\){color:blue;}
.c\(blue\)\+font\(19\/42\)\+c\(\#D0D0D0\){color:#D0D0D0;}
html .active\:color\(--primary\):active,html .active\:color\(--primary\).\:active{color:var(--primary);}
.font\(20\/-\/-10\%\){font-size:20px;letter-spacing:-0.1em;}
.font\(100\){font-size:100px;}
.font\(3em\/-\/-1\.5\%\){font-size:3em;letter-spacing:-0.015em;}
@media(max-width:767.98px){html .\~md\:font\(1\.6em\){font-size:1.6em;}}
.font\(1\.2em\/-\/-1\.5\%\){font-size:1.2em;letter-spacing:-0.015em;}
@media(max-width:767.98px){html .\~md\:font\(1\.4em\){font-size:1.4em;}}
.font\(80\/-\/-15\%\){font-size:80px;letter-spacing:-0.15em;}
.font\(20\){font-size:20px;}
.font\(30\){font-size:30px;}
.font\(10\){font-size:10px;}
.font\(30\/-\/-1\.5\%\){font-size:30px;letter-spacing:-0.015em;}
.font\(14\/16\/-1\%\){font-size:14px;line-height:16px;letter-spacing:-0.01em;}
.font\(24\){font-size:24px;}
.font\(13\){font-size:13px;}
.font\(14\/1\.5\/-1\%\){font-size:14px;line-height:1.5;letter-spacing:-0.01em;}
.font\(12\){font-size:12px;}
.c\(blue\)\+font\(19\/42\)\+c\(\#D0D0D0\){font-size:19px;line-height:42px;}
.word-spacing\(20\){word-spacing:20px;}
.AppleSD{font-family:"Apple SD Gothic Neo";}
.monospace{font-family:monospace;font-family:var(--monospace, monospace);}
.monospace\(number\){font-variant-numeric:tabular-nums;}
.bold{font-weight:bold;}
@media(hover:hover){.hover\:underline:hover,.hover\:underline.\:hover{text-decoration:underline;}}
.text-center{text-align:center;}
.text-left{text-align:left;}
.vertical-top{vertical-align:top;}
.block{display:block;}
.w\(\~800\){max-width:800px;}
.w\(100\~200\){min-width:100px;max-width:200px;}
.w\(240\){width:240px;}
.w\(100\%\){width:100%;}
.w\(800\){width:800px;}
.h\(60\){height:60px;}
.h\(100\%\){height:100%;}
.m\(20\){margin:20px;}
.m\(10\/0\){margin:10px 0;}
.\>h1\:m\(20\)>h1{margin:20px;}
.m\(auto\){margin:auto;}
.mt\(40\){margin-top:40px;}
.p\(10\/20\){padding:10px 20px;}
.p\(20\){padding:20px;}
.p\(10\){padding:10px;}
.p\(200\/32\){padding:200px 32px;}
.p\(10\/10\){padding:10px 10px;}
.p\(8\/12\){padding:8px 12px;}
.pt\(12\){padding-top:12px;}
.b\(\#000\.2\){border:solid 1px rgba(0,0,0,.2);}
html .active\:b\(\#000\.2\):active,html .active\:b\(\#000\.2\).\:active{border:solid 1px rgba(0,0,0,.2);}
.b\(-\){border:none;}
.bb\(\#000\.1\){border-bottom:solid 1px rgba(0,0,0,.1);}
.bb\(4\/transparent\){border-bottom:solid 4px transparent;}
.bb\(\#000\){border-bottom:solid 1px #000;}
.\.selected\:bbc\(--primary\).selected,.selected .\.selected\:bbc\(--primary\){border-bottom-color:var(--primary);}
.outline\(-\){outline:none;}
.r\(8\){border-radius:8px;}
.r\(6\){border-radius:6px;}
.r\(10\){border-radius:10px;}
.bg\(\#fff\){background-color:#fff;}
.odd\:bg\(\#f9f9f9\):nth-child(2n+1){background-color:#f9f9f9;}
.bg\(\#f1f1f1\){background-color:#f1f1f1;}
.bg\(\#333\){background-color:#333;}
@media(hover:hover){.hover\:bg\(\#555\):hover,.hover\:bg\(\#555\).\:hover{background-color:#555;}}
html .active\:bg\(\#000\):active,html .active\:bg\(\#000\).\:active{background-color:#000;}
.nth-child\(3n\+1\)\:bg\(orange\):nth-child(3n+1){background-color:orange;}
.\.selected\:bg\(\#000\).selected,.selected .\.selected\:bg\(\#000\){background-color:#000;}
.bg\(\#f9f9f9\){background-color:#f9f9f9;}
.\.selected\:bg\(--primary\).selected,.selected .\.selected\:bg\(--primary\){background-color:var(--primary);}
.bg\(transparent\){background-color:transparent;}
.clip{overflow:hidden;}.clip:has(.nowrap\.\.\.){flex-shrink:1;}
.scroll-x{overflow-x:auto;overflow-y:hidden;}
.scroll-y{overflow-x:hidden;overflow-y:auto;}
.overscroll\(none\){overscroll-behavior:none;}
.pre{white-space:pre-wrap;}
.nowrap\.\.\.{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;flex-shrink:1;max-width:100%;}
.line-clamp\(3\){display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;}
.hbox{display:flex;flex-flow:row;align-items:center;}:where(.hbox>*){flex-shrink:0;--w-grow:1;--w-align:initial;--h-grow:initial;--h-align:stretch;}
.hbox\(top\+center\){display:flex;flex-flow:row;align-items:flex-start;justify-content:center;}:where(.hbox\(top\+center\)>*){flex-shrink:0;--w-grow:1;--w-align:initial;--h-grow:initial;--h-align:stretch;}
.hbox\(bottom\+right\){display:flex;flex-flow:row;align-items:flex-end;justify-content:flex-end;}:where(.hbox\(bottom\+right\)>*){flex-shrink:0;--w-grow:1;--w-align:initial;--h-grow:initial;--h-align:stretch;}
.hbox\(fill\){display:flex;flex-flow:row;align-items:stretch;}:where(.hbox\(fill\)>*){flex-shrink:0;--w-grow:1;--w-align:initial;--h-grow:initial;--h-align:stretch;}
.vbox{display:flex;flex-flow:column;align-items:stretch;}:where(.vbox>*){flex-shrink:0;--w-grow:initial;--w-align:stretch;--h-grow:1;--h-align:initial;}
.vbox\(center\){display:flex;flex-flow:column;align-items:center;}:where(.vbox\(center\)>*){flex-shrink:0;--w-grow:initial;--w-align:stretch;--h-grow:1;--h-align:initial;}
.pack{display:flex;align-items:center;justify-content:center;}:where(.pack>*){flex-shrink:0;--w-grow:1;--w-align:initial;--h-grow:initial;--h-align:stretch;}
.gap\(20\){gap:20px;grid-gap:20px;}
.gap\(40\){gap:40px;grid-gap:40px;}
.gap\(60\){gap:60px;grid-gap:60px;}
.gap\(6\){gap:6px;grid-gap:6px;}
.space-between{justify-content:space-between;align-content:space-between;}
.flex{flex:1;}
.flex\(4\){flex:4;}
.flex\(3\){flex:3;}
[class*="hbox"]>.space\(2em\){width:2em;}[class*="vbox"]>.space\(2em\){height:2em;}
.flex-wrap{flex-wrap:wrap;}:where(.flex-wrap>*){max-width:100%;max-height:100%;}
.layer\(right\){position:absolute;top:0;right:0;bottom:0;}
.layer{position:absolute;top:0;right:0;bottom:0;left:0;}
.layer\(bottom\+right\){position:absolute;right:0;bottom:0;}
.relative{position:relative;}
.sticky-top{position:sticky;top:0;}
.fixed{position:fixed;}
.z\(999\){z-index:999;}
.z\(9999\){z-index:9999;}
.none{display:none;}
.opacity\(0\.7\){opacity:0.7;}
@media(hover:hover){.hover\:opacity\(1\):hover,.hover\:opacity\(1\).\:hover{opacity:1;}}
.pointer{cursor:pointer;}
.transition\(\.4s\){transition:all .4s;}
.transition\(\.2s\){transition:all .2s;}
.group:hover .group-hover\:rotate\(-10deg\),html .group.\:hover .group-hover\:rotate\(-10deg\){--a-rotate-x:-;--a-rotate-y:1;--a-rotate-z:0;transform:var(--a-transform);}
html .group:active .group-active\:rotate\(10deg\),html .group.\:active .group-active\:rotate\(10deg\){--a-rotate-x:1;--a-rotate-y:0;--a-rotate-z:d;transform:var(--a-transform);}
.group:hover .group-hover\:rotate\(10deg\),html .group.\:hover .group-hover\:rotate\(10deg\){--a-rotate-x:1;--a-rotate-y:0;--a-rotate-z:d;transform:var(--a-transform);}
html .group:active .group-active\:rotate\(-10deg\),html .group.\:active .group-active\:rotate\(-10deg\){--a-rotate-x:-;--a-rotate-y:1;--a-rotate-z:0;transform:var(--a-transform);}
html .active\:rotate\(5deg\):active,html .active\:rotate\(5deg\).\:active{--a-rotate-x:5;--a-rotate-y:d;--a-rotate-z:e;transform:var(--a-transform);}
@media(hover:hover){.hover\:scale\(1\.05\):hover,.hover\:scale\(1\.05\).\:hover{--a-scale-x:1;--a-scale-y:.;--a-scale-z:0;transform:var(--a-transform);}}
.after\:content\(--my-content\)::after{content:var(--my-content);}
html .active\:bg\(\#000\)\!:active,html .active\:bg\(\#000\)\!.\:active{background-color:#000!important;}
.\.selected\:c\(\#fff\)\!.selected,.selected .\.selected\:c\(\#fff\)\!{color:#fff!important;}:root{font-family:Pretendard,system-ui,sans-serif;color:#222;--primary:#fb3958;--primary-bg:rgba(251, 57, 88, .02)}.markdown{width:768px;max-width:100%;margin:auto;line-height:1.6;font-size:16px;letter-spacing:-.01em;word-wrap:break-all;color:#333}.markdown hr{margin:2em 0;border-top:1px solid rgba(0,0,0,.1)}.markdown a{color:var(--primary)}.markdown a:hover{text-decoration:underline}.markdown h1,.markdown h2,.markdown h3,.markdown h4{font-size:2em;font-weight:700;margin-top:2.4em;margin-bottom:.6em}.markdown h2{font-size:1.4em}.markdown h3{font-size:1.2em}.markdown h4{font-size:1em}.markdown p{margin:1.4em 0}.markdown ul,.markdown ol{list-style:disc;padding:0 1.6em;margin:1em 0}.markdown ol{list-style:number}.markdown li{margin:.2em 0}.markdown pre{background:#f9f9f9;margin:1em 0;padding:1em;border-radius:.6em;white-space:pre-wrap;font-family:monospace;font-size:.9em;text-align:left}.markdown code{background:#f6f8fa;padding:2px .4em;border-radius:.4em;font-family:monospace;font-size:.9em}.markdown pre code{background:none;padding:0}.markdown .attr-value,.markdown .string,.markdown .string-property{color:var(--primary)}.markdown .comment{color:#999}.markdown blockquote{background:var(--primary-bg);margin:1.4em 0;padding:1.4em;border-left:4px solid var(--primary)}.markdown blockquote>:first-child{margin-top:0}.markdown blockquote>:last-child{margin-bottom:0}.markdown strong{font-weight:700}@media (max-width:768px){.markdown{font-size:14px}}
