*{margin:0;padding:0;font:inherit;color:inherit;}
*,:after,:before{box-sizing:border-box;flex-shrink:0;}
:root{-webkit-tap-highlight-color:transparent;text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:2}
html,body{height:100%;}
img,picture,video,canvas,svg{display:block;max-width:100%;}
button{background:none;border:0;cursor:pointer;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,menu,dir{list-style:none;}
html .active\:color\(--primary\):active, html .active\:color\(--primary\).\:active{color:var(--primary);}
.\31 00{font-weight:100;}
.\32 00{font-weight:200;}
.\33 00{font-weight:300;}
.\34 00{font-weight:400;}
.\35 00{font-weight:500;}
.\36 00{font-weight:600;}
.\37 00{font-weight:700;}
.\38 00{font-weight:800;}
.\39 00{font-weight:900;}
@media(hover:hover){.\>\>a\:hover\:c\(--primary\) a:hover, .\>\>a\:hover\:c\(--primary\) a.\:hover{color:var(--primary);}}
.\>\>a\.active\:c\(--primary\) a.active{color:var(--primary);}
.c\(\#555\){color:#555;}
.c\(\#ccc\){color:#ccc;}
.group:hover .group-hover\:c\(--primary\), html .group.\:hover .group-hover\:c\(--primary\){color:var(--primary);}
.c\(\#666\){color:#666;}
.c\(\#ff0\){color:#ff0;}
.c\(\#fff\){color:#fff;}
.placeholder\:c\(\#ccc\)::placeholder{color:#ccc;}
.\.selected\:c\(\#fff\).selected, .selected .\.selected\:c\(\#fff\){color:#fff;}
.\>\>a\:c\(\#4f80ff\) a{color:#4f80ff;}
@media only screen and (min-width:320px){html .\@w\(320\~\)\:c\(red\){color:red;}}
.c\(\#999\){color:#999;}
.c\(\#fff\.3\){color:rgba(255,255,255,.3);}
.c\(\#000\){color:#000;}
@media(hover:hover){.hover\:c\(--primary\):hover, .hover\:c\(--primary\).\:hover{color:var(--primary);}}
.\.selected\:c\(\#fff\)\!.selected, .selected .\.selected\:c\(\#fff\)\!{color:#fff!important;}
.\.selected\:c\(\#000\).selected, .selected .\.selected\:c\(\#000\){color:#000;}
.c{color:transparent;}
.font\(20\/-\/-10\%\){font-size:20px;letter-spacing:-0.1em}
.font\(3em\/-\/-1\.5\%\){font-size:3em;letter-spacing:-0.015em}
.\~md\:font\(2em\)~md{font-size:2em}
.font\(1\.2em\/-\/-1\.5\%\){font-size:1.2em;letter-spacing:-0.015em}
.\~md\:font\(1\.2em\)~md{font-size:1.2em}
.font\(100\/-\/-15\%\){font-size:100px;letter-spacing:-0.15em}
.font\(30\){font-size:30px}
.font\(10\){font-size:10px}
.font\(30\/-\/-1\.5\%\){font-size:30px;letter-spacing:-0.015em}
.font\(14\/16\/-1\%\){font-size:14px;line-height:16px;letter-spacing:-0.01em}
.font\(24\){font-size:24px}
.font\(13\){font-size:13px}
.font\(14\/1\.5\/-1\%\){font-size:14px;line-height:1.5;letter-spacing:-0.01em}
.font\(12\){font-size:12px}
.sans-serif{font-family:sans-serif;font-family:var(--sans-serif, sans-serif);}
.serif{font-family:serif;font-family:var(--serif, serif);}
.cursive{font-family:cursive;font-family:var(--cursive, cursive);}
.fantasy{font-family:fantasy;font-family:var(--fantasy, fantasy);}
.system-ui{font-family:system-ui;font-family:var(--system-ui, system-ui);}
.monospace{font-family:monospace;font-family:var(--monospace, monospace);}
.monospace\(number\){font-variant-numeric:tabular-nums;}
.AppleSD{font-family:"Apple SD Gothic Neo";}
.Roboto{font-family:Roboto;font-family:var(--Roboto, Roboto);}
.thin{font-weight:200;}
.light{font-weight:300;}
.regular{font-weight:normal;}
.medium{font-weight:500;}
.semibold{font-weight:600;}
.bold{font-weight:bold;}
.heavy{font-weight:900;}
.thicker{text-shadow:0 0 1px currentColor;}
.italic{font-style:italic;}
.overline{text-decoration:overline;}
@media(hover:hover){.hover\:underline:hover, .hover\:underline.\:hover{text-decoration:underline;}}
.\.isSelected\:underline.isSelected, .isSelected .\.isSelected\:underline{text-decoration:underline;}
.underline{text-decoration:underline;}
.line-through{text-decoration:line-through;}
.strike{text-decoration:line-through;}
.del{text-decoration:line-through;}
.small-caps{font-variant-caps:small-caps;}
.all-small-caps{font-variant-caps:all-small-caps;}
.slashed-zero{font-variant-numeric:slashed-zero;}
.tabular-nums{font-variant-numeric:tabular-nums;}
.lowercase{text-transform:lowercase;}
.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.text-justify{text-align:justify;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.vertical-top{vertical-align:top;}
.vertical-middle{vertical-align:middle;}
.vertical-bottom{vertical-align:bottom;}
.sub{vertical-align: sub;}
.super{vertical-align: super;}
.text-top{vertical-align: text-top;}
.text-bottom{vertical-align: text-bottom;}
.break-all{word-break:break-all;}
.break-word{overflow-wrap:break-word;}
.word-break\:break-word:word-break{overflow-wrap:break-word;}
.keep-all{word-break:keep-all;}
.hyphens{hyphens: auto;}
.block{display:block;}
.inline-block{display:inline-block;}
.inline{display:inline;}
.inline-flex{display:inline-flex;}
.table{display:table;}
.inline-table{display:inline-table;}
.table-caption{display:table-caption;}
.table-cell{display:table-cell;}
.table-column{display:table-column;}
.table-column-group{display:table-column-group;}
.table-footer-group{display:table-footer-group;}
.table-header-group{display:table-header-group;}
.table-row-group{display:table-row-group;}
.table-row{display:table-row;}
.flow-root{display:flow-root;}
.grid{display:grid;}
.inline-grid{display:inline-grid;}
.contents{display:contents;}
.list-item{display:list-item;}
.hbox{display:flex;flex-flow:row;align-items:center;}
.hbox\(top\+center\){display:flex;flex-flow:row;align-items:flex-start;justify-content:center;}
.hbox\(bottom\+right\){display:flex;flex-flow:row;align-items:flex-end;justify-content:flex-end;}
.hbox\(fill\){display:flex;flex-flow:row;align-items:stretch;}
.vbox{display:flex;flex-flow:column;align-items:stretch;}
.vbox\(center\){display:flex;flex-flow:column;align-items:center;}
@media(max-device-width:767.98px){html .mobile\:vbox{display:flex;flex-flow:column;align-items:stretch;}}
.pack{display:flex;align-items:center;justify-content:center;}
.gap\(20\){gap:20px;}
.gap\(40\){gap:40px;}
.gap\(60\){gap:60px;}
.gap\(6\){gap:6px;}
.space-between{justify-content:space-between;}
.space-around{justify-content:space-around;}
.space-evenly{justify-content:space-evenly;}
.flex{flex:1;}
.flex\(4\){flex:4;}
.flex\(3\){flex:3;}
[class*="hbox"]>.space\(2em\) {width:2em;} [class*="vbox"]>.space\(2em\) {height:2em;}
.flex-grow{flex-grow:1;}
.flex-shrink{flex-shrink:1;}
.flex-wrap{flex-wrap:wrap;}.flex-wrap>*{max-width:100%;max-height:100%;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}.flex-wrap-reverse>*{max-width:100%;max-height:100%;}
.flex-nowrap{flex-wrap:nowrap;}
.border-box{box-sizing:border-box}
.content-box{box-sizing:content-box}
.w\(\~800\){max-width:800px;}
.w\(100\~200\){min-width:100px;max-width:200px;}
.w\(240\){width:240px;}
.w\(100\%\){width:100%;}
.-webkit-scrollbar\:\:w\(4\)::-webkit-scrollbar{width:4px;}
.h\(60\){height:60px;}
.h\(100\%\){height:100%;}
.h\(100\){height:100px;}
.m\(20\){margin:20px;}
.m\(10\/0\){margin:10px 0;}
.\>h1\:m\(20\)>h1{margin:20px;}
.m\(10\/20\/30\/40\){margin:10px 20px 30px 40px;}
.mt\(40\){margin-top:40px;}
.p\(10\/20\){padding:10px 20px;}
.p\(200\/32\){padding:200px 32px;}
.p\(10\/10\){padding:10px 10px;}
.p\(20\){padding:20px;}
.p\(8\/12\){padding:8px 12px;}
.p\(40\){padding:40px;}
.p\(10\){padding:10px;}
.pt\(12\){padding-top:12px;}
.b\(\#000\.2\){border:solid 1px rgba(0,0,0,.2);}
html .active\:b\(\#000\.2\):active, html .active\:b\(\#000\.2\).\:active{border:solid 1px rgba(0,0,0,.2);}
.b\(0\)\!{border:none!important;}
.b{border:none;}
.bt{border-top:none;}
.br{border-right:none;}
.bb\(\#000\.1\){border-bottom:solid 1px rgba(0,0,0,.1);}
.bb\(4\/transparent\){border-bottom:solid 4px transparent;}
.bb{border-bottom:none;}
.bl{border-left:none;}
.bc{border-color:transparent;}
.btc{border-top-color:transparent;}
.brc{border-right-color:transparent;}
.\.selected\:bbc\(--primary\).selected, .selected .\.selected\:bbc\(--primary\){border-bottom-color:var(--primary);}
.bbc{border-bottom-color:transparent;}
.blc{border-left-color:transparent;}
.r\(8\){border-radius:8px;}
.r\(6\){border-radius:6px;}
.r\(10\){border-radius:10px;}
html .focus\:ring\(blue\):focus, html .focus\:ring\(blue\).\:focus{box-shadow:0 0 0 1px blue;}
.outline{outline:1px solid transparent;}
.guide, .guide > * { outline:1px solid #4f80ff;}
.bg\(\#fff\){background-color:#fff;}
.odd\:bg\(\#f9f9f9\):nth-child(2n+1){background-color:#f9f9f9;}
.bg\(\#f1f1f1\){background-color:#f1f1f1;}
.bg\(\#333\){background-color:#333;}
@media(hover:hover){.hover\:bg\(\#555\):hover, .hover\:bg\(\#555\).\:hover{background-color:#555;}}
html .active\:bg\(\#000\)\!:active, html .active\:bg\(\#000\)\!.\:active{background-color:#000!important;}
html .active\:bg\(\#000\):active, html .active\:bg\(\#000\).\:active{background-color:#000;}
.nth-child\(3n\+1\)\:bg\(orange\):nth-child(3n+1){background-color:orange;}
.\.selected\:bg\(\#000\).selected, .selected .\.selected\:bg\(\#000\){background-color:#000;}
.\.active\:bg\(\#000\)\!\:active\,html.active, .active .\.active\:bg\(\#000\)\!\:active\,html{background-color:#000!important;}
.\.active\:bg\(\#000\)\!\.\:active\{background-color\:\#000\!important\;\}.active, .active .\.active\:bg\(\#000\)\!\.\:active\{background-color\:\#000\!important\;\}{background-color:#000!important;}
@media(hover:hover){.hover\:bg\(red\):hover, .hover\:bg\(red\).\:hover{background-color:red;}}
html .active\:bg\(red\)\!:active, html .active\:bg\(red\)\!.\:active{background-color:red!important;}
.bg\(\#f9f9f9\){background-color:#f9f9f9;}
.\.selected\:bg\(--primary\).selected, .selected .\.selected\:bg\(--primary\){background-color:var(--primary);}
.bg\(transparent\){background-color:transparent;}
.bg\(linear-gradient\){background:linear-gradient;}
.bg\(red\){background-color:red;}
.\.test\:bg\(orange\)\!.test, .test .\.test\:bg\(orange\)\!{background-color:orange!important;}
.\.test2\:bg\(red\)\!\!\<\/li\>\<\/ul\>\<\/div\>\<\/div\>.test2, .test2 .\.test2\:bg\(red\)\!\!\<\/li\>\<\/ul\>\<\/div\>\<\/div\>{background-color:red!important;}
.bg-repeat-x{background-repeat:repeat-x;}
.bg-repeat-y{background-repeat:repeat-y;}
.bg-no-repeat{background-repeat:no-repeat;}
.bg-fixed{background-attachment:fixed;}
.bg-scroll{background-attachment:scroll;}
.contain{background-size:contain;background-position:center;background-repeat:no-repeat;object-fit:contain;}
.cover{background-size:cover;background-position:center;background-repeat:no-repeat;object-fit:cover;}
.clip{overflow:hidden;}
.scroll{overflow:auto;}
.scroll-x{overflow-x:auto;overflow-y:hidden;}
.scroll-y{overflow-x:hidden;overflow-y:auto;}
.scrollbar{overflow:scroll;} .scrollbar.scroll {overflow:scroll;} .scrollbar.scroll-x {overflow-x:scroll;} .scrollbar.scroll-y {overflow-y:scroll;}
.no-scrollbar::-webkit-scrollbar {display:none;}
.no-scrollbar-x::-webkit-scrollbar:horizontal {display:none;}
.overscroll\(none\){overscroll-behavior:none;}
.no-bouncing{}
.no-overscroll{}
.pre{white-space:pre-wrap;}
.pre-wrap{white-space:pre-wrap;}
.pre-line{white-space:pre-line;}
.nowrap{white-space:nowrap;flex-shrink:0;}
.nowrap\.\.\.{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;flex-shrink:1;}
.line-clamp\(3\){display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;}
.layer\(right\){position:absolute;top:0;right:0;bottom:0;}
.layer\(bottom\+right\){position:absolute;right:0;bottom:0;}
.layer{position:absolute;top:0;right:0;bottom:0;left:0;}
.absolute{position:absolute;}
.relative{position:relative;}
.sticky{position:sticky;}
.sticky-top{position:sticky;top:0;}
.sticky-right{position:sticky;right:0;}
.sticky-bottom{position:sticky;bottom:0;}
.sticky-left{position:sticky;left:0;}
.fixed{position:fixed;}
.fixed\!{position:fixed!important;}
.static{position:static;}
.z\(999\){z-index:999;}
.z\(9999\){z-index:9999;}
.none{display:none;}
.none\!{display:none!important;}
.hidden{visibility:hidden;}
.invisible{visibility:hidden;}
.gone{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
.opacity\(0\.7\){opacity:0.7;}
@media(hover:hover){.hover\:opacity\(1\):hover, .hover\:opacity\(1\).\:hover{opacity:1;}}
.visible{visibility:visible;}
.pointer{cursor:pointer;}
.grab{cursor:grab;} .grab:active{cursor:grabbing;}
.grabbing{cursor:grabbing;}
.user-select-none{user-select:none;-webkit-user-select:none;}
.user-select-all{user-select:all;-webkit-user-select:all;}
.user-select-auto{user-select:auto;-webkit-user-select:auto;}
.user-select-text{user-select:text;-webkit-user-select:text;}
.pointer-events-none{pointer-events:none;}
.pointer-events-auto{pointer-events:auto;}
.pointer-events-auto\!{pointer-events:auto!important;}
.transition\(\.4s\){transition:all .4s;}
.transition\(\.2s\){transition:all .2s;}
.translate\(10\,10\)\|rotateX\(180deg\)\|scale\(2\){transform:translate(10,10)|rotateX(180deg)|scale(2);}
.group:hover .group-hover\:rotate\(-10deg\), html .group.\:hover .group-hover\:rotate\(-10deg\){transform:rotate(-10deg);}
html .group:active .group-active\:rotate\(10deg\), html .group.\:active .group-active\:rotate\(10deg\){transform:rotate(10deg);}
.group:hover .group-hover\:rotate\(10deg\), html .group.\:hover .group-hover\:rotate\(10deg\){transform:rotate(10deg);}
html .group:active .group-active\:rotate\(-10deg\), html .group.\:active .group-active\:rotate\(-10deg\){transform:rotate(-10deg);}
html .active\:rotate\(5deg\):active, html .active\:rotate\(5deg\).\:active{transform:rotate(5deg);}
@media(hover:hover){.hover\:scale\(1\.05\):hover, .hover\:scale\(1\.05\).\:hover{transform:scale(1.05);}}
.gpu{transform:translateZ(0.1px);}
.no-border{border:none;outline:none;}
.after\:content\(--my-content\)::after{content:var(--my-content)}
.content{content:''}
.after\:content::after{content:''}
.table-layout-fixed{table-layout:fixed;}
.elevation{box-shadow:none;}