* { margin:0; padding:0; box-sizing: border-box; font: inherit; color: inherit; flex-shrink: 0;}
.w\(360\){width: 360px;}
.r\(20\){border-radius: 20px;}
.bg\(\#fff\){background: #fff;}
.vbox\(top\){display: flex; flex-flow: column; align-items: flex-start; }
.clip{overflow: hidden;}
.b\(\#ccc\){border: 1px solid #ccc;}
.w\(fill\){align-self:stretch}
.h\(16\){height: 16px;}
.h\(68\){height: 68px;}
.hbox{display: flex; align-items: center; }
.p\(0\/32\){padding: 0 32px;}
.flex{flex:1;}
.font\(20\/28\){font-size: 20px;line-height: 28px}
.semibold{font-weight: 600;}
.c\(\#222\){color: #222;}
.h\(8\){height: 8px;}
.vbox{display: flex; flex-flow: column; align-items: center; }
.vgap\(16\) > *+* { margin-top: 16px }
.w\(296\){width: 296px;}
.p\(0\/6\/0\/0\){padding: 0 6px 0 0;}
.hgap\(8\) > *+* { margin-left: 8px }
.w\(20\){width: 20px;}
.h\(20\){height: 20px;}
.r\(100\){border-radius: 100px;}
.bg\(\#feec00\){background: #feec00;}
.font\(13\){font-size: 13px}
.medium{font-weight: 500;}
.b\(\#000\.12\){border: 1px solid rgba(0,0,0,.12);}
.hbox\(\/right\){display: flex; align-items: center; justify-content: flex-end}
.hgap\(10\) > *+* { margin-left: 10px }
.w\(70\){width: 70px;}
.h\(44\){height: 44px;}
.r\(8\){border-radius: 8px;}
.pack{align-items: center; justify-content: center;}
.p\(12\/0\){padding: 12px 0;}
.r\(16\){border-radius: 16px;}
.font\(14\/20\/-\.5\%\){font-size: 14px;line-height: 20px;letter-spacing: -0.005em}
.bold{font-weight: 700;}
.c\(\#000\.7\){color: rgba(0,0,0,.7);}
.b\(\#fd0\){border: 1px solid #fd0;}